[Unit]
Description=linuxdodns for %I
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Restart=always
ExecStart=/opt/linuxdodns/linuxdodns.sh %i
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
